<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
  <style>
    .login-container {
      max-width: 400px;
      padding: 40px;
      margin: auto;
      margin-top: 100px;
    }
  </style>
</head>
<body>
<input type="hidden" name="_csrf" value="${_csrf.token}"/>

<div class="container">
  <div class="login-container">
    <h2 class="text-center">Login</h2>
    <form action="/login" method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </div>
</div>
</body>
</html>
